#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "~/.config/mpd/socket",
    volume_step: 5,
    scrolloff: 2,
    max_fps: 60,
    wrap_navigation: true,
    theme: "pywal",
    cache_dir: Some("/home/valentijn/Music/Local"),
    lyrics_dir: "~/Music",
    on_song_change: ["~/.config/rmpc/notify"],
    status_update_interval_ms: 1000,
    enable_mouse: true,
    enable_config_hot_reload: true,
    
    album_art: (
        method: Auto,
        max_size_px: (width: 0, height: 0),
        vertical_align: Top,
        horizontal_align: Center,
    ),
    
    cava: (
        framerate: 60,
        autosens: true,
        sensitivity: 120,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            samble_bits: 16,
        ),
        smoothing: (
            noise_reduction: 30,
            monstercat: false,
            waves: false,
        ),
    ),
    
    keybinds: (
        global: {
            "q": Quit,
            "~": ShowHelp,
            "O": ShowOutputs,
            "I": ShowCurrentSongInfo,
            "<C-p>": ShowDecoders,
            ":": CommandMode,
            ".": VolumeUp,
            ",": VolumeDown,
            "p": TogglePause,
            "s": Stop,
            ">": NextTrack,
            "<": PreviousTrack,
            "<C-Right>": NextTab,
            "<Tab>": NextTab,
            "<C-Left>": PreviousTab,
            "<S-Tab>": PreviousTab,
            "1": SwitchToTab("Queue"),
            "2": SwitchToTab("Directories"),
            "3": SwitchToTab("Artists"),
            "4": SwitchToTab("Albums"),
            "5": SwitchToTab("Playlists"),
            "6": SwitchToTab("Search"),
            "z": ToggleRepeat,
            "r": ToggleRandom,
            "c": ToggleSingle,
            "f": SeekForward,
            "b": SeekBack,
        },
        navigation: {
            "<S-Up>": PaneUp,
            "<S-Down>": PaneDown,
            "<S-Left>": PaneLeft,
            "<S-Right>": PaneRight,
            "<C-u>": UpHalf,
            "N": PreviousResult,
            "a": Add,
            "A": AddAll,
            "n": NextResult,
            "g": Top,
            "<Space>": Select,
            "G": Bottom,
            "h": Left,
            "<Left>": Left,
            "<CR>": Confirm,
            "i": FocusInput,
            "J": MoveDown,
            "j": Down,
            "<Down>": Down,
            "<C-d>": DownHalf,
            "/": EnterSearch,
            "<C-c>": Close,
            "<Esc>": Close,
            "K": MoveUp,
            "l": Right,
            "<Right>": Right,
            "D": Delete,
            "k": Up,
            "<Up>": Up,
            "B": ShowInfo,
        },
        queue: {
            "D": DeleteAll,
            "<CR>": Play,
            "<C-s>": Save,
            "a": AddToPlaylist,
            "x": Shuffle,
            "X": Shuffle,
            "d": Delete,
        },
    ),
    
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any", label: "Any Tag"),
            (value: "artist", label: "Artist"),
            (value: "album", label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title", label: "Title"),
        ],
    ),
    
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "30%",
                        borders: "RIGHT",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "55%",
                                    borders: "BOTTOM",
                                    pane: Pane(AlbumArt),
                                ),
                                (
                                    size: "45%",
                                    pane: Pane(Lyrics),
                                ),
                            ],
                        ),
                    ),
                    (
                        size: "70%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(Queue),
                                ),
                                (
                                    borders: "TOP",
                                    size: "15",
                                    pane: Pane(Cava),
                                ),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (
            name: "Directories",
            border_type: None,
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            border_type: None,
            pane: Pane(Artists),
        ),
        (
            name: "Albums",
            border_type: None,
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
    ],
)
